<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Add New Post</title>

    <!-- vendor css -->
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="lib/rickshaw/rickshaw.min.css" rel="stylesheet">

    <!-- Starlight CSS -->
    <link rel="stylesheet" href="css/starlight.css">
  </head>

  <body>

    <!-- ########## START: LEFT PANEL ########## -->
    <div class="sl-logo"><a href="#">Blog App</a></div>
    <div class="sl-sideleft">

      <label class="sidebar-label">Navigation</label>
      <div class="sl-sideleft-menu">
        <a href="dashboard.html" class="sl-menu-link">
          <div class="sl-menu-item">
            <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
            <span class="menu-item-label">Dashboard</span>
          </div><!-- menu-item -->
        </a><!-- sl-menu-link -->

        <a href="posts.html" class="sl-menu-link active">
            <div class="sl-menu-item">
              <i class="menu-item-icon icon ion-ios-bookmarks-outline tx-20"></i>
              <span class="menu-item-label">Posts</span>
            </div><!-- menu-item -->
        </a><!-- sl-menu-link -->

        <a href="categories.html" class="sl-menu-link">
            <div class="sl-menu-item">
              <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
              <span class="menu-item-label">Categories</span>
            </div><!-- menu-item -->
        </a><!-- sl-menu-link -->
      </div><!-- sl-sideleft-menu -->

      <br>
    </div><!-- sl-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="sl-header">
      <div class="sl-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
      </div><!-- sl-header-left -->
      <div class="sl-header-right">
        <nav class="nav">
          <div class="dropdown">
            <a href="" class="nav-link nav-link-profile">
              <span class="logged-name">Hi!<span class="hidden-md-down"> Admin</span></span>
            </a>
            </div><!-- dropdown -->
        </nav>
      </div><!-- sl-header-right -->
    </div><!-- sl-header -->
    <!-- ########## END: HEAD PANEL ########## -->

      </div><!-- tab-content -->
    </div><!-- sl-sideright -->
    <!-- ########## END: RIGHT PANEL ########## --->

    <div class="sl-mainpanel">

        <nav class="breadcrumb sl-breadcrumb d-flex justify-content-between w-100">
            <span class="breadcrumb-item active w-100">Create New Post</span>
        </nav>
  
        <div class="sl-pagebody">

            <div class="w-75 mx-auto bg-white rounded px-5 py-3 main-form">
                <h5 class="text-center py-2" id="h5-add">Add New Post</h5>
                <form action="action.php" method="post">
                    <div class="d-block">

                        <div class="d-block">
                            <label for="post-title">Title</label>
                            <input type="text" name="post-title" id="post-title" class="form-control">
                        </div>

                        <div class="d-block">
                            <label for="post-image" class="mt-3">Image</label>
                            <input type="file" name="post-image" id="post-image" class="form-control">
                        </div>

                        <div class="d-block">
                            <label for="post-category" class="mt-3">Category</label>
                            <select class="form-control" id="post-category">
                                <option value="none" selected disabled hidden>Select Category</option>
                                <option value="sport">Sport</option>
                                <option value="sport">Sport</option>
                                <option value="sport">Sport</option>
                            </select>
                        </div>

                        <div class="d-block">
                            <label for="post-intro" class="mt-3">Introduction</label>
                            <textarea id="post-intro" class="form-control" rows="5"></textarea>
                        </div>

                        <div class="d-block">
                            <label for="post-body" class="mt-3">Body</label>
                            <textarea id="post-body" class="form-control" rows="5"></textarea>
                        </div>

                        <div class="d-block">
                            <label for="post-conc" class="mt-3">Conclusion</label>
                            <textarea id="post-conc" class="form-control" rows="5"></textarea>
                        </div>
                        
                        <button type="submit" class="btn btn-primary my-3 rounded crs">Submit</button>
                    </div>
                </form>
            </div>

        </div><!-- sl-pagebody -->
    </div><!-- sl-mainpanel -->

    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/popper.js/popper.js"></script>
    <script src="lib/bootstrap/bootstrap.js"></script>
    <script src="lib/jquery-ui/jquery-ui.js"></script>
    <script src="lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="lib/jquery.sparkline.bower/jquery.sparkline.min.js"></script>
    <script src="lib/d3/d3.js"></script>
    <script src="lib/rickshaw/rickshaw.min.js"></script>
    <script src="lib/chart.js/Chart.js"></script>
    <script src="lib/Flot/jquery.flot.js"></script>
    <script src="lib/Flot/jquery.flot.pie.js"></script>
    <script src="lib/Flot/jquery.flot.resize.js"></script>
    <script src="lib/flot-spline/jquery.flot.spline.js"></script>

    <script src="js/starlight.js"></script>
    <script src="js/ResizeSensor.js"></script>
    <script src="js/dashboard.js"></script>
    <script src="js/posts.js"></script>
  </body>
</html>