

  
        <div class="sl-pagebody">

            <div class="d-flex justify-content-center my-3">
              <a href="details/update-post" class="btn btn-primary rounded mx-2">Update Post</a> 
              <a href="#" class="btn btn-danger rounded">Remove Post</a> 
            </div>

            <div class="w-75 mx-auto bg-white rounded px-5 py-3 main-form">
                <article class="flex flex-col shadow my-4">
                    <!-- Article Image -->
                    <a href="#" class="hover:opacity-75 w-100">
                        <img src="https://source.unsplash.com/collection/1346951/1000x500?sig=1" style="width: 100% !important;">
                    </a>
                    <div class="bg-white flex flex-col justify-start p-6 text-dark">
                        <div class="rate">
                            <a href="#" class="text-blue-700 text-sm font-bold uppercase pb-4">Technology</a>
                            <div class="cursor-pointer" id="rate11" style="height: auto;">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <div class="actions mt-1 d-none" id="action-rate">
                                    <a href="details/update-rate" class="text-primary">Edit</a>
                                    <a href="#" class="text-danger mx-2">Remove</a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">{{article.title}}</a>
                        <p href="#" class="text-sm pb-8">
                            By <a href="#" class="font-semibold hover:text-gray-800"></a>{{article.createdAt}}
                        </p>
                        <h1 class="text-2xl font-bold pb-3">Introduction</h1>
                        <p class="pb-3">{{article.content}}.</p>
                        <h1 class="text-2xl font-bold pb-3">Heading</h1>
                        <p class="pb-3">Vivamus nec facilisis elit, quis congue justo. In non augue ex. Aenean pretium facilisis hendrerit. Sed sed imperdiet dui. Etiam faucibus a diam sed vehicula. Nullam commodo lacus tincidunt, tincidunt orci sed, dapibus leo. Vivamus vulputate quis risus a ultricies. Aliquam luctus id tellus non condimentum. Aenean maximus viverra ipsum eget vestibulum. Morbi ut tincidunt sem, efficitur volutpat tortor. Donec scelerisque, ipsum eu efficitur semper, neque turpis sodales quam, in aliquam elit lacus varius lorem. Ut ut diam id leo efficitur malesuada eget in velit. Pellentesque tristique orci nunc, vitae fermentum nibh luctus eu. Mauris condimentum justo sed ipsum egestas varius.</p>
                        <p class="pb-3">Sed sagittis odio a volutpat feugiat. Cras aliquam varius justo, a rhoncus ante bibendum id. Nulla maximus nisl sed enim maximus, ut dictum lectus hendrerit. Fusce venenatis tincidunt eros. Phasellus quis augue vulputate ipsum pellentesque fringilla. Morbi nec tempor felis. Maecenas sollicitudin pellentesque dui, sit amet scelerisque mauris elementum nec. Cras ante metus, mattis in malesuada in, fermentum a nunc. Suspendisse potenti. Sed tempor lacus sed commodo dignissim. Quisque dictum, dolor auctor iaculis cursus, ipsum urna porttitor ex, sed consequat nisi tellus eget ante. Duis molestie mollis eros, eu sollicitudin mauris lobortis quis.</p>
                        <p class="pb-3">Vivamus sed neque nec massa scelerisque imperdiet eget id sapien. Fusce elementum mi id malesuada luctus. Proin quis lorem id leo porta interdum non ac nisl. Integer nulla sem, ultrices sed neque eget, blandit condimentum metus. Aliquam eget malesuada sapien. Curabitur aliquet orci sit amet ex tincidunt convallis. Mauris urna mi, consequat mattis mollis a, dignissim eget sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam facilisis sem diam, viverra consequat metus consequat vel. Cras a mi eu ex luctus malesuada quis eu ante. Aliquam erat volutpat.</p>
                        <h1 class="text-2xl font-bold pb-3">Conclusion</h1>
                        <p class="pb-3">Donec vulputate auctor leo lobortis congue. Sed elementum pharetra turpis. Nulla at condimentum odio. Vestibulum ullamcorper enim eget porttitor bibendum. Proin eros nibh, maximus vitae nisi a, blandit ultricies lectus. Vivamus eu maximus lacus. Maecenas imperdiet iaculis neque, vitae efficitur felis vestibulum sagittis. Nunc a eros aliquet, egestas tortor hendrerit, posuere diam. Proin laoreet, ligula non eleifend bibendum, orci nulla luctus ipsum, dignissim convallis quam dolor et nulla.</p>
                    </div>
                </article>
                <div class="w-full md:text-left md:flex-row shadow bg-white mt-10 mb-10 p-6">
                    <h5 class="mb-3 text-2xl text-primary">People's Opinion</h5>
                    <div class="cmnt text-dark mb-1">
                        <p class="font-semibold text-xl">David</p>
                        <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel neque non libero suscipit suscipit eu eu urna.</p>
                        <div class="actions">
                            <a href="details/update-comment" class="text-primary">Edit</a>
                            <a href="#" class="text-danger mx-2">Remove</a>
                        </div>
                    </div>
                    <div class="cmnt text-dark mb-1">
                        <p class="font-semibold text-xl">David</p>
                        <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel neque non libero suscipit suscipit eu eu urna.</p>
                        <div class="actions">
                            <a href="details/update-comment" class="text-primary">Edit</a>
                            <a href="#" class="text-danger mx-2">Remove</a>
                        </div>
                    </div>
                    <div class="cmnt text-dark mb-1">
                        <p class="font-semibold text-xl">David</p>
                        <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel neque non libero suscipit suscipit eu eu urna.</p>
                        <div class="actions">
                            <a href="details/update-comment" class="text-primary">Edit</a>
                            <a href="#" class="text-danger mx-2">Remove</a>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- sl-pagebody -->
    </div><!-- sl-mainpanel -->

    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/popper.js/popper.js"></script>
    <script src="lib/bootstrap/bootstrap.js"></script>
    <script src="lib/jquery-ui/jquery-ui.js"></script>
    <script src="lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="lib/jquery.sparkline.bower/jquery.sparkline.min.js"></script>
    <script src="lib/d3/d3.js"></script>
    <script src="lib/rickshaw/rickshaw.min.js"></script>
    <script src="lib/chart.js/Chart.js"></script>
    <script src="lib/Flot/jquery.flot.js"></script>
    <script src="lib/Flot/jquery.flot.pie.js"></script>
    <script src="lib/Flot/jquery.flot.resize.js"></script>
    <script src="lib/flot-spline/jquery.flot.spline.js"></script>

    <script src="js/starlight.js"></script>
    <script src="js/ResizeSensor.js"></script>
    <script src="js/dashboard.js"></script>
    <script src="js/posts.js"></script>
    <script>
      document.getElementById('rate11').addEventListener('click', () => {
        document.getElementById('action-rate').classList.toggle('d-none')
      })
    </script>
  </body>
</html>