<div class="sl-pagebody">


  <div class="row">
    {{#each posts}}
    <div class="col my-3 rounded">

      <div class="card" style="width: 18rem;">
        <img src="/img/img11.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center my-1"> {{title}}</h5>
          <p class="card-text"><span class="text-dark">Created by :</span> Admin</p>
          <p class="card-text"><span class="text-dark">Created at :</span> {{createdAt}}</p>
          <p class="card-text"><span class="text-dark">Category :</span> {{categorie.name}}</p>
          <a href="posts/details/{{id}}" class="text-primary unde">Read More</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div><!-- sl-pagebody -->
</div><!-- sl-mainpanel -->